<div class="flex flex-column h-full gap-2">

    <p-card class="flex-1  w-full h-full">
        <p-sidebar [(visible)]="sidebarVisible2" styleClass="w-30rem" position="right">
            <form [formGroup]="form" class="gap-2">
                <div class="flex gap-2">
                    <div class="field">
                        <label>Cód. Produto</label>
                        <p-inputNumber formControlName="id" mode="decimal" [maxlength]="9" />
                    </div>
                    <div class="field w-full">
                        <label>Descrição</label>
                        <input formControlName="descricao" pInputText />
                    </div>
                </div>
                <div class="flex w-full">
                    <div class="field w-full">
                        <label>Data Cadastro</label>
                        <div class="flex gap-2 align-items-center w-full">
                            <p-calendar class="w-full" formControlName="dataDe" dateFormat="dd/mm/yy" [showIcon]="true"
                                dataType="string"></p-calendar>
                            <span>até</span>
                            <p-calendar class="w-full" formControlName="dataAte" dateFormat="dd/mm/yy" [showIcon]="true"
                                dataType="string"></p-calendar>
                        </div>
                    </div>

                </div>

                <div class="flex gap-2 align-items-center">
                    <div class="field w-full">
                        <label>Preço Compra</label>
                        <p-inputNumber formControlName="precoCompra" mode="currency" [useGrouping]="false"
                            currency="BRL" locale="pt-BR" />
                    </div>
                    <div class="field w-full">
                        <label>Preço Venda</label>
                        <p-inputNumber formControlName="precoVenda" mode="currency" [useGrouping]="false" currency="BRL"
                            locale="pt-BR" />
                    </div>
                </div>

            </form>
            <ng-template pTemplate="footer">
                <div class="w-full">
                    <button class="w-full" pButton icon="pi pi-search" label="Pesquisar" title="Pesquisar"
                        (click)="getList()"></button>
                </div>
            </ng-template>

        </p-sidebar>
        <div class="flex justify-content-between">
            <div>
                <h1>
                    Produtos
                </h1>
            </div>
            <div class="flex gap-2 align-items-center">
                <div>
                    <button class="mb-2" pButton icon="pi pi-search" label="Pesquisar" (click)="getList()"></button>

                </div>
                <div>
                    <button class="mb-2" pButton icon="pi pi-filter" label="Filtros"
                        (click)="sidebarVisible2 = true"></button>

                </div>
                <div>
                    <button class="mb-2" pButton icon="pi pi-plus" label="Novo" (click)="showFrm()"></button>

                </div>
            </div>
        </div>

        <p-table [value]="products" [responsiveLayout]="'scroll'" selectionMode="single" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>Cód. Produto</th>
                    <th>Imagem</th>
                    <th>Descrição</th>
                    <th>Preço Compra</th>
                    <th>Preço Venda</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr [pSelectableRow]="product" (dblclick)="doubleClickRow(product.id)">
                    <td>{{ product.id }}</td>
                    <td> <img [src]="product.imagens[0].uriImagem" [alt]="product.name" width="100" class="shadow-4" />
                    </td>
                    <td>{{ product.descricao }}</td>
                    <td> {{ product.precoCompra | currency:'BRL':'symbol':'1.2-2' }}</td>
                    <td>{{ product.precoVenda | currency:'BRL':'symbol':'1.2-2' }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>