/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box !important;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-size: 13px !important;
    overflow: hidden;
    position: relative; 
    margin: 0;
}

cmp-template {
    display: flex;
    width: 100% !important;
    height: 100% !important;
}

cmp-nav {
    height: 100%;
}

cmp-main {
    padding: 3rem;
    height: 100%;
    width: 100%;
}


.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
}

.field>label {
    font-style: bold !important;
    font-weight: 700 !important;
}

.field>div>span {
    font-style: bold !important;
    font-weight: 600 !important;
}

